.home-container {
  display: grid;
  justify-content: center;
  gap: 64px;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 1fr;
  padding-bottom: 40px;
}

.home-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 160px 0;
  text-align: center;
}

.home-hero::before {
  content: url("./home-hero.jpg");
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.benefits {
  display: grid;
  gap: 40px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
  padding: 0 40px;
}

.menu {
  display: grid;
  justify-content: center;
  gap: 64px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 40px;
}

.menu-left-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.menu-right-col {
  overflow: hidden;
}

.menu-right-col img {
  width: auto;
  height: 100%;
}

.bookings {
  display: grid;
  justify-content: center;
  gap: 64px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 40px;
}

.booking-left-col {
  overflow: hidden;
}

.booking-left-col img {
  width: auto;
  height: 100%;
}

.booking-right-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.booking {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 40%;
  text-align: center;
}

.opening-times {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
